*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#nav{
    
    padding: 3vw 9vw;
    display: flex;
    position: relative;
    justify-content: space-between;
}
#nleft{
    display: flex;
    gap: 27px;
    
}
#nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 800;
    display: inline-block;
}
#nav #centera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

#hero{
    width: 100%;
    margin-top: 16vh;
    padding:0vw 9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#sustain{
    width:10vw;
}
#sustain p{
    font-size: 12px;
    margin: 10px 0;
    opacity: 0.6;
}
#sustain #sustimagewrapper{
    width: 100%;
    height: 19vw;
    position: relative;
    
    overflow: hidden;
}
#sustimagewrapper img{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  

}
#ephermeral{
    position: relative;
    width: 25vw;
    min-height: 38vw;
   
}
#ephermeral #heading{
    position: absolute;
    top: -14.8%;
    left:-20%;
}
#ephermeral img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#ephermeral h1{
    font-size: 70px;
    font-weight: 400;
    letter-spacing: -0.4vw;
}
#ephermeral p{
   
    font-size: 1.2vw;
    object-fit: cover;
    letter-spacing: -0.060vw;
    width: 45%;
    line-height: 1.3;
}
#circle{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: greenyellow; */
    border: 2px solid #5e5e5e;
}
#circle i{
    color: #5e5e5e;
}
#visit{
    align-items: center;
    display: flex;
    gap: 10px;
}
#visit h5{
    color: #5e5e5e;
    
}

#motive{
    padding: 3vw 9vw;
    display: flex;
    margin-top: 4vw;
    text-align: right;
}
#motive p{
    opacity: 0.8;
    font-family: escopedia;
    font-size: 21px;
    font-weight: 700;
    
}
#motive h5{
    font-weight: 400;
    position: relative;
    text-align:right ;
   left:340px;
    width: 70%;
    line-height: 1.7;
    font-size: 1.3vw;
}
#motive span{
    margin: 0 10px;
    border-radius: 100px;
    background-color: rgb(154, 25, 234);
    display: inline-block;
    margin: 0 10px;
    margin-bottom: -10px;
    
}
#one{
    width: 75px;    
        height: 35px;
        background-image: url(./images/bluegirl.jpg);
        background-size: cover;
        background-position: 0 60%;
    }
    #two{
        width: 95px;
        background-position: center;
        background-size: cover;
        background-image: url(./images/shaljam.jpg);
        height: 35px;
        background-position: 0 50%;
    }
    #three{
        background-size: cover;
        background-position: center;
        background-position: 0 50%;
        width: 55px;
        height: 35px;
        background-image: url(./images/grass.jpg);
}
#picture{
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
    display: flex;
    justify-content: space-between;

}
#firstpic{
    width: 14vw;
    margin-top: 8vw;
    font-size: 15px;

}
#firstpic h1{
    letter-spacing:-0.10vw;
    margin-top: 20px;
    font-weight: 400;
}
#secondpic h1{
    letter-spacing:-0.10vw;
    margin-top: 20px;
    font-weight: 400;
}
#firstpic p{
    font-weight: 600;
    opacity: 0.9;
    padding-top: 12px;
    letter-spacing:0.6;
}
#secondpic p{
font-weight: 600;
    opacity: 0.9;
    padding-top: 12px;
    letter-spacing: 0.6;
    /* text-align: right; */
}
#firstpic #picimage1{
    width: 17vw;
    height: 23vw;
    
}
#picimage1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}
#secondpic #picimage2{
    width: 100%;
    height: 100%;
}
#secondpic{
    
    width: 20vw;
    height: 32vw;
        margin-top: 8vw;
        font-size: 15px;
       /* margin-right: 14vh; */
       text-align: right;
       /* background-color: red; */
}


#picimage2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

#banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
}
#bannerimg{
    width: 66%;
    height: 68vh;
    background-color: yellow;
}
#bannerimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#bannertext{
    width: 34%;
    padding: 0% 2vw;
    
}
#bannertext h1{
    font-size: 3vw;
    letter-spacing: -0.32vh;
    font-weight: 500;
    line-height: 1;
}
#bannertext p{
   width: 70%;
font-weight: 600;
    opacity: 0.9;
    margin-top: 4vh;
    letter-spacing: -0.07vh;
}
#future{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#future video{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

#ftext{
    /* mix-blend-mode: color-burn; */
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.8vw 1.6vw;
    background-color: white;
    border-radius: 10px;
    opacity: 0.65;
}
#ftext p{
    letter-spacing: -0.26vw;
    font-size: 3vw;
    border-radius: 10px;
    padding: 3px;
    font-weight: 800;
    color: transparent;
    color: black;
    /* -webkit-text-stroke:2px  black; */
    /* font-family: doky; */
}
#ftext button{
    margin-top: 1vw;
    letter-spacing: -0.08vh;
    padding: 0.98vw 1.7vw;
    font-size: 0.8vw;
    font-weight: 400;
    border-radius: 100px;
    background-color: white;
    border:1px solid rgb(66, 65, 65);
    color: rgb(66, 65, 65);
    text-transform: capitalize;
}
